.post-column{
    margin-top: 1.34em;
    margin-bottom: 1.22em;
}
@media only screen and (max-width: 468px) {
    .post-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
}