.navbar-style{
    padding: 10px;
    background-color: #f1fcffe5;
}
.ul-item{
    font-size: 1.12em;
    letter-spacing:1px;
}
.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
  }
.ul-item:hover{
    color: blue;
}
#active{
    background-color: #2eceffb4;

}
#activeColor{
    color: #fff;
}