.featured-container{
    padding: 25px;
}
/*column left  */
.col-lft-conatiner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    transition: all .88s ease;
    cursor: pointer;
}
.col-lft-conatiner .featImg{
    width: 100%;
    height: 100%;
    border-radius:20px 5px;
    transition: all .88s ease;
}
.col-lft-conatiner:hover .featImg{
    transform: scale(1.12);
    border-radius:10px 25px;
}

.featImgText{
    position: absolute;
    top: 15.44em;
    left: 20px;
    bottom: 20px;
    justify-content:flex-start;
    align-items:center;
}
.featImgText .category{
    max-width: 500px;
    padding: 10px;
    justify-content:flex-start ;
    align-items:center;
    
}
.category .fetureTitle{
    background-color: #e8e4e4e6;
    padding: 3px;    
    margin-top: .5em;
    font-size: 1.43em;
    font-weight: 600;
    transition: all .8s ease-in-out;
}
.category .fetureTitle:hover{
    color: #2eceffd7;
}
.col-lft-conatiner:hover .fetureTitle{
    background-color: #fff;
}
.category .featBottom{
    background-color: #e8e4e4e6;
    max-width:175px;
    font-size: .7em;
    transition: all .8s ease-in-out;
}
.col-lft-conatiner:hover .featBottom{
    background-color: #fff;
}
.category .featDate{
    margin-left: 1.34em;
}
.category .categoryTittle{
    font-size:.69em;
    background-color: blue;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

/* col left style ends */


/* col right style starts here */
.col-rgt-container{
    width: 100%;
    height: 100%;
}
.margin-btm{
    margin-bottom: 1.1em;
}
.col-rgt-container .col-rgt-img-container{
    width: 100%;
    height: 100%;
    border-radius: 20px 5px; 
    position: relative;
    transition: all 2s ease;
    overflow: hidden;
}
.col-rgt-img-container .col-rgt-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    object-fit: cover;
    transition: all .88s ease;
}
.col-rgt-img-container:hover .col-rgt-img{
    transform:scale(1.3)
}
.col-rgt-text{
    position: absolute;
    top: 120px;
    bottom: 0px;
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items:center;

}
.col-rgt-text .col-rgt-title {
    font-size: 1.1em;
    background-color: #e8e4e4e6;
    padding: 5px;
    font-weight: 600;
    display: flex;
    justify-content:center;
    align-items:center;
    transition: all .88s ease;
}
.col-rgt-img-container:hover .col-rgt-title {
    background-color: #fff;
    font-weight: 600;
}
.col-rgt-text .col-rgt-title:hover{
    color: #2eceffd7;
}

/* col right style end here */

/* responsive style */
@media only screen and (max-width: 468px){
    .featImgText{
        top: 50px;
    }
    .col-rgt{
        margin-top: 20px;
    }
    .mb{
        margin-top: 20px;
    }
}